<div class='col-md-8'>
<div class='panel panel-default'>
<div class='panel-body'>
<h1>Listing Questions</h1>

<table class='table table-default table-striped'>
  <thead>
    <tr>
      <th>Questions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td>
         
         <% if current_user %>
           <%= link_to 'Answer', new_question_answer_path(question), class: 'btn btn-default' %>
         <% else %> 
           <%= link_to 'Answer', new_user_session_path, class: 'btn btn-default' %>
         <% end %>
         
         
        
          
          <%= link_to '', question, class: 'btn btn-default glyphicon glyphicon-eye-open' %>
          <% if current_user and current_user.role == 'admin' %>
            <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-default' %>
            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <%= link_to 'New Question', new_question_path, class: 'btn btn-default' %>
<% end %>

</div>
</div>

</div>

<div class='col-md-4'>
  <%= render "devise/sessions/form" %>
</div>