<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table class='table table-default table-striped'>
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>
      <th>Clicks</th>
      <th>Answers</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.style %></td>
        <td><%= question.clicks %></td>
        <td><%= question.answers.length %></td>
        <td>
          <%= link_to 'Answer', new_question_answer_path(question), class: 'btn btn-default' %>
          <%= link_to 'Show', question, class: 'btn btn-default' %>
          <% if current_user and current_user.role == 'admin' %>
            <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-default' %>
            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: 'btn btn-default' %>
