<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h1><%= @question.content %></h1>
    </div>

    <div class='panel-body'>
      <%= f.hidden_field :question_id, value: @question.id %>

      <% if @question.style == 'bool' %>
        <div class='radio'>
          <label>
            <%= f.radio_button :yes_no, true %>
            Yes
          </label>
        </div>
        <div class='radio'>
          <label>
            <%= f.radio_button :yes_no, false %>
            No
          </label>
        </div>
      <% end %>

      <% if @question.style == 'multiple' %>
        <% @question.choices.each do |choice| %>
          <div class='radio'>
            <label>
              <%= f.radio_button :choice_id, choice.id %>
              <%= choice.name %>
            </label>
          </div>
        <% end %>
      <% end %>

      <% if @question.style == 'freeform' %>
        <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
      <% end %>
    </div>

    <div class="panel-footer">
      <%= f.submit 'Save', class: 'btn btn-default' %>
    </div>

  </div>
<% end %>
